node_modules
dist
.vercel
.next
*.log
.env
.DS_Store
__pycache__
*.pyc
.venv
venv
env
*.bak
*.swp
out/
build/
.history
.vscode
.idea
.fleet
.direnv
.envrc
.node_repl_history
yarn-error.log
npm-debug.log
pnpm-debug.log
